# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Environment Variables
.env

# Flask
instance/
.webassets-cache

# VS Code
.vscode/

# JetBrains
.idea/

# Mac
.DS_Store

# Uploads
static/uploads/

# Database
*.db
*.sqlite3

# Logs
*.log

# OS Files
Thumbs.db

# Render
.render

# Secrets
secrets.json

# Build
dist/
build/

# Cache
.cache/